@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Bitter:wght@200&family=Dancing+Script&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    list-style-type: none;
    line-height: 20px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Barlow, sans-serif;
}

header {
    clear: both;
    position: relative;
    padding: 50px 0;
    line-height: 50px;
}

.toggle {
    display: none;
}

.toggle-label {
    position: absolute;
    right: 50px;
    top: 41px;

    display: none;
}

.toggle-label span {
    display: block;
    background-color: #000000;
    height: 2px; 
    width: 20px;
    margin: 3px 0;
}

header h1, .logo {
    font-family: Dancing Script, sans-serif;
}

.logo {
    text-decoration: none;
    color: #000000;
    font-size: 300%;
    margin-left: 25px;

    position: absolute;
    top: 40%;
}

/* Nav bar */

nav {
    clear: both;
    float: right;
    position: absolute;
    right: 5%;
    top: 25%;
}

nav li {
    display: inline-block;
    font-weight: 600;
    margin: 5px;
}

nav a {
    text-decoration: none;
    padding: 10px 20px;
    color: rgb(128, 128, 128);
    display: block;
}

nav a:hover {
    color: #ffffff;
    background-color: rgb(128, 128, 128);
}

.active {
    outline: 1px solid rgb(128, 128, 128);
}

.hero-image {
    background: url('../images/rsz_mario-dobelmann-qsfgme3aing-unsplash.jpg') no-repeat center center;
    background-size: cover;
    height: 500px;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.hero-image-card {
    background-color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    
    position: absolute;
    left: 20%;
    top: 10%;
    bottom: 10%;

    transform: scale(1);
    transition: all 750ms ease-in-out;
}

.hero-image-card:hover {
    transform: scale(1.1);
    transition: all 500ms ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
}
.hero-image-text {
    text-align: center;
    margin-top: 25%;
    max-width: 20ch;
}

.hero-image-text p {
    padding: 95px 10px;
    font-weight: 600;
}

/* Mindfulness */

.about-section {
    padding-top: 2%;
}

.about-section p {
    max-width: 40ch;
}

.mindfulness-about, .meditation-about {
    height: 500px;
    position: relative;
}

.mindfulness-text, .meditation-text, .mindfulness-about h2, .meditation-about h2, .mindfulness-about img, .meditation-about img {
    position: absolute;
}

.mindfulness-text {
    top: 50%;
    right: 10%;
    padding-top: 5%;
}

.mindfulness-text h2 {
    top: 0;
    right: 0;
}

.mindfulness-text p {
    text-align: right;
}

.mindfulness-about img {
    height: 100%;
    left: 15%;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .5), 0 10px 20px 0 rgba(0, 0, 0, .5);
}

/* Meditation */

.meditation-text {
    top: 50%;
    left: 10%;
    padding-top: 5%;
}

.meditation-text h2 {
    top: 0;
    left: 0;
}

.meditation-about img {
    height: 100%;
    right: 15%;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .5), 0 10px 20px 0 rgba(0, 0, 0, .5);
}

/* Yoga */

.yoga-about {
    height: 500px;
    text-align: center;
}

.yoga-about h2 {
    padding-top: 10%;
    padding-bottom: 2%;
}

.yoga-about h3 {
    margin: 20px;
}

.yoga-about-section {
    width: 20%;
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-radius: 5%;

    /* Centered using help from W3Schools */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* End of W3Schools */

    transform: scale(1);
    transition: all 500ms ease-in-out;
}

.yoga-about-section:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .4), 0 5px 11px 0 rgba(0, 0, 0, .4);
    transform: scale(1.05);
    transition: all 500ms ease-in-out;
}

/* Footer */

footer {
    height: 100px;
    width: 100%;
    color: white;
    /* Linear gradient made with help from W3Schools */
    background-image: linear-gradient(to left, #A6A897, #43463E);
}

footer ul {
    text-align: center;
    padding-top: 35px;
}

footer li {
    display: inline-block;
    margin: 0 20px;
}

footer a {
    text-decoration: none;
    color: white;
}

/* Meditation Page */

.top-image {
    position: relative;
}

.top-image img {
    width: 100%;
    background-size: cover;
}

.top-image-cover-text {
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    right: 8%;
    top: 10%;
    color: white;
    max-width: 25ch;
    padding: 40px;
}

.top-image-cover-text h2 {
    line-height: 30px;
}

.meditation-steps {
    height: 1000px;
}

hr {
    border-top: 1px solid grey;
    width: 100%;
    margin-top: 10px;
}

.left {
    float: left;
    width: 40%;
    height: 100%;
}

.left h2 {
    padding: 10%;
}

.left p, .left li {
    max-width: 30ch;
    padding-left: 10%;
    padding-top: 5%;
}

.right {
    float: right;
    column-count: 2;
    width: 60%;
    height: 100%;
    overflow: hidden;
}

.right img {
    width: 80%;
    margin: 10px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .4), 0 10px 10px 0 rgba(0, 0, 0, .4);
    overflow: hidden;

}

/* Yoga */

.yoga-panels {
    height: 1000px;
    position: relative;
}

.image-column {
    height: inherit;
    width: 20%;
    box-shadow: 10px 0 20px 0 rgba(0, 0, 0, .4);
    overflow: hidden;

    position: absolute;
    left: 0;
}

.image-column img {
    display: block;
    margin: 0 auto;
    height: 250px;
    float: left;
    overflow: hidden;
    max-width: inherit;
}

.yoga-information {
    width: 40ch;
    text-align: center;

    position: absolute;
    right: 20%;
}

.yoga-information h2 {
    padding: 40px 0 20px 0;
}

/* Nature */

.location {
    height: 500px;
    position: relative;
    overflow: hidden;
}

.forest {
    background: url('../images/geran-de-klerk-qzgN45hseN0-unsplash.jpg');
}

.mountain {
    background: url('../images/sarah-penney-R7JGetYmrWI-unsplash.jpg');
}

.beach {
    background: url('../images/anton-sharov-_kkx1WekVRY-unsplash.jpg');
}

.section-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.overlay {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        rgba(151, 151, 151, .7),
        rgba(0, 0, 0, 0));
    color: white;
    text-align: center;
}

.overlay-text, .overlay-text * {
    padding: 5% 10%;
    font-weight: 600;
}

.in-text-a {
    padding: 0;
    margin: 0;
    color: inherit;
    text-decoration: underline;
}

/* Form page - styling taken and modified from Code Institute: Love Running*/

.form-section {
    text-align: center;
    align-items: center;
    height: 550px;
}
.signup-form {
    max-width: 400px;
    width: 100%;
    margin: auto auto;
    padding: 30px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .5), 0 10px 20px 0 rgba(0, 0, 0, .5)
}

.signup-form h2 {
    margin-bottom: 20px;
}

form p {
    padding: 10px 0;
}

.text-input {
    background: transparent;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #000000;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #000000;
}

.join-button {
    margin: 20px 0;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(128, 128, 128);
    color: #fafafa;
    
    /* Centered using help from W3Schools */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* End of W3Schools */
}

.join-button:hover {
    background-color: #fafafa;
    color: rgb(128, 128, 128);
    cursor: pointer;
}

/* Media quieries */

@media screen and (min-width: 1700px) {
    .meditation-steps {
        height: 1500px;
    }
}

@media screen and (min-width: 1200px) {
    body {
        width: 75%;
        margin: 0 auto;
        box-shadow: 0 10px 20px 10px rgba(0, 0, 0, .2), 0 10px 20px 10px rgba(0, 0, 0, .2);
    }
}

@media screen and (max-width: 980px) {
    .about-section {
        text-align: center;
    }

    .about-section p {
        max-width: 20ch;
        text-align: center;
        padding-top: 50px;
    }

    .mindfulness-text, .meditation-text {
        top: 30%;
    }
}

@media screen and (max-width: 900px) {
    .top-image-cover-text {
        top: 40px;
    }
}

@media screen and (max-width: 800px) {
    .left p {
        padding-left: 0;
    }
}

@media screen and (max-width: 720px) {
    .about-section img {
        height: 50%;
        top: 30%;
    }

    .yoga-about {
        width: 99%;
        margin: 0 auto;
        height: auto;
    }
    .yoga-about-section {
        display: block;
        max-width: 80%;
        width: 99%;
        padding: 5px;
        margin: 10px auto;
    }

    .yoga-about p {
        width: 99%;
        margin: 0 auto;
    }

    .meditation-steps {
        height: 1200px;
    }

    .right {
        display: none;
    }

    .left {
        width: 100%;
        height: auto;
    }

    .left * {
        width: 99%;
        margin: 0 auto;
    }

    body {
        height: auto;
        margin: 0;
    }

    footer {
        width: 100%;
    }

    .top-image-cover-text {
        display: none;
    }


}

@media screen and (max-width: 700px) {
    nav {
        display: none;
    }

    /* Kevin Powell hambuger menu here */

    .toggle-label {
        display: unset;
    }

    .toggle:checked ~ nav li {
        display: block;
        text-align: center;
    }

    .toggle:checked ~ nav {
        display: block;
        right: 100px;
        top: 20px;
        z-index: 999;
        background-color: white;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .5), 0 10px 20px 0 rgba(0, 0, 0, .5);
        width: 80%;
    }
    /* End of Kevin Powell hamburger menu */
}

@media screen and (max-width: 660px) {
    .image-column {
        display: none;
    }

    .yoga-panels {
        width: 80%;
        margin: 0 auto;
    }

    .yoga-information {
        right: 0;
        width: 100%;
        height: 100%;
    }

    body {
        height: 1300px;
    }
}

@media screen and (max-width: 520px) {
    .about-section img {
        visibility: hidden;
    }

    .meditation-steps {
        height: 1000px;
    }
 
}

@media screen and (max-width: 430px) {
    .yoga-panels {
        height: 1400px;
    }
}

@media screen and (max-width: 360px) {
    .toggle-label {
        right: 10%;
    }   
}