@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Bitter:wght@200&family=Dancing+Script&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: Barlow, sans-serif;
}

header {
    /* background: rgb(155, 155, 155); */
    clear: both;
    position: relative;
    margin: 25px 0;
}

header h1, .logo {
    font-family: Dancing Script, sans-serif;
}

.logo {
    text-decoration: none;
    color: black;
    font-size: 300%;
    padding-left: 25px;
}

nav {
    /* background-color: lightblue; */
    list-style-type: none;
    clear: both;
    float: right;
    position: absolute;
    right: 5%;
    top: 10%;
}

nav li {
    display: inline-block;
    font-weight: 600;
    margin: 5px;
}

nav a {
    text-decoration: none;
    padding: 10px 20px;
    color: grey;
    display: block;
}

nav a:hover {
    color: white;
    background-color: grey;
}

.active {
    outline: 1px solid grey;
}

.hero-image {
    background: url('../images/mario-dobelmann-QsFgme3aINg-unsplash.jpg') no-repeat center center;
    background-size: cover;
    height: 500px;
    width: 100%;
    /* overflow: hidden; */
    margin-bottom: 10px;
    position: relative;
}

.hero-image-card {
    background-color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    position: absolute;

    left: 20%;
    top: 10%;
    bottom: 10%;

    transform: scale(1);
    transition: all 750ms ease-in-out;
}

.hero-image-card:hover {
    transform: scale(1.1);
    transition: all 500ms ease-in-out;
}
.hero-image-text {
    text-align: center;
    margin-top: 25%;
    max-width: 20ch;
}

/* Mindfulness */

.mindfulness-about, .meditation-about {
    height: 500px;
    position: relative;
    /* overflow: hidden; */
    /* border-top: 1px solid grey;
    border-bottom: 1px solid grey; */
}

.mindfulness-about h2 {
    position: absolute;
    right: 10%;
    top: 40%;
}

.mindfulness-about img {
    height: 100%;
    position: absolute;
    left: 15%;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .5), 0 10px 20px 0 rgba(0, 0, 0, .5);
}

.mindfulness-text {
    line-height: 50%;
    position: absolute;
    top: 50%;
    right: 10%;
}

 .meditation-about h2 {
     position: absolute;
     left: 10%;
     top: 40%;
     
 }

 .meditation-text {
    line-height: 50%;
    position: absolute;
    top: 50%;
    left: 10%;
 }

 .meditation-about img {
    height: 100%;
    position: absolute;
    right: 15%;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .5), 0 10px 20px 0 rgba(0, 0, 0, .5);
 }

 /* Yoga */

 .yoga-about {
     height: 500px;
     text-align: center;
     /* border-top: 1px solid grey; */
 }

 .yoga-about h2 {
    padding-top: 10%;
}

 .yoga-about h3 {
     margin: 20px;
 }

 .yoga-about-section {
     max-width: 20%;
     display: inline-block;
     text-align: center;
     padding: 20px;
     margin: 10px;

     transform: scale(1);
     transition: all 500ms ease-in-out;
 }

 .yoga-about-section:hover {
     transform: scale(1.1);
     transition: all 500ms ease-in-out;
 }